.flexboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 3px;
}

.button {
  background-color: white;
  color: rgb(0, 0, 0);
  margin: 4px;
  border: 1px solid deeppink;
  width: 80px;
  height: 30px;
  text-transform: uppercase;
}

.button:hover {
background-color: pink;
}

.button:focus {
animation-name: buttons;
animation-duration: 3s;
  }

  @keyframes buttons {
0% {transform: scale(1.2)} 
10% {transform: scale(1)} 
20% {transform: scale(1.2)} 
30% {transform: scale(1)}    
40% {transform: scale(1.2)}
50% {transform: scale(1)}
60% {transform: scale(1.2)}
70% {transform: scale(1)}
80% {transform: scale(1.2)}
90% {transform: scale(1.2)}
100% {transform: scale(1)}
  }